<style>
@keyframes title{
	0%{transform:scale(2,2);top:0px;}
	100%{transform:scale(1,1);top:0px;}
}
@-webkit-keyframes title{
	0%{transform:scale(2,2);top:0px;}
	100%{transform:scale(1,1);top:0px;}
}
@-moz-keyframes title{
	0%{transform:scale(2,2);top:0px;}
	100%{transform:scale(1,1);top:0px;}
}
@-o-keyframes title{
	0%{transform:scale(2,2);top:0px;}
	100%{transform:scale(1,1);top:0px;}
}
</style>
<div class="banner">
 
	<div class="banner_img" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_01.jpg) no-repeat center; background-size:cover; height:600px;">
		<span style="font-size:36px;padding-top:120px;padding-left:150px;display:block;">Keep an eye on</span>
		<p style="font-size:48px;padding-left:150px;">what matters most</p>
		<span style="font-size:36px;padding-left:150px;display:block;"> anywhere anytime</span>
         

		<a href="__ROOT__/product/52.html"style="color:#000;font-size:31px; border:solid 1px #000; display:block; height:42px;line-height:42px; text-align:center;margin-left:150px;margin-top:50px; width:125px;">R2</a>
	</div>


</div>
<!--banner完-->
<div style="width:100%; background:rgba(0,0,0,0.8); display:none;position:fixed; overflow:hidden; z-index:200;">
<div class="name">
	<ul>
    	<li><a id="Features">Features</a></li>
        <li><a id="Tech" >Specifications</a></li>
        <li><a id="Download">Download Center</a></li>
    </ul>
</div>
</div>
<!--name完-->
<div id="features">
<div class="main1" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_02.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main1_1" style="padding-top:25px;">
		<p style="text-align:center;width:600px;margin:0 auto;font-size:32px;padding-top:30px;">1080P HD Video Offers a Perfect Visual Display</p>
        <span style="padding-top:20px;display:block;width:690px;text-align:center;margin:0 auto;float:none;">
       View your home clearly from anywhere at any time with the help of 1080P full HD video streaming which presents vivid  object colors via your computer or mobile devices.</span>
    </div>
</div>
<div class="main2" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_03.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main2_2">
    	<p style="text-align:left;padding-top:65px;width:670px;">Enjoy Superior Two-way Audio Quality Anywhere</p>
        <span style="padding-top:15px;text-align:left;display:block;width:645px;">Built-in high-end mic and chip effectively reduce background noise and create a superior two-way audio continuity-you can hear and be heard clearly with our camera even the background has much noise. </span>
    </div>
</div>
<div class="main3" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_04.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main3_3">
    	<p style="padding-top:50px;color:#ff2929;width:650px;">2X Magic Zoom and 6X Digital Zoom Reveal Stunning Details</p>
        <span style="padding-top:30px;display:block;width:650px;">
Magic Zoom, the cutting-edge technique，is able to magnify any details of video streaming. It's similar to optical zoom, but with a fixed-focus lens. Hence you can identify different faces and check any details in your home with the help of 2X Magic Zoom and 6X digital zoom.
 </span>
        
    </div>
</div>
<div class="main4" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_05.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main4_4">
  	  <p style="padding-top:150px;color:#fff;width:515px;text-align:left;margin-left:600px;">Vivid and Smooth Video</p>

      <span style="padding-top:15px;color:#fff;display:block;width:515px;text-align:left;margin-left:600px;">
The latest chipset from Ambarella which offers better video experience in terms of low bit rate than other alternatives is applied to this camera, so that R2 possesses high efficient compressing technology and excellent FHD video processing capability. 
</span>
    </div>
</div>
<div class="main5" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_06.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main5_5">
    	<p style="width:300px;">Master What Is Happening Immediately</p>
        <span style="padding-top:20px;display:block;width:270px;">
      It can send real-time alerts to your mobile devices, keeping you away from being worried about missing something important.
 </span>
    </div>
</div>
<!--<div class="main6" style="background:url(__ROOT__/Public/Home/images/goods_img/r2/r2_07.jpg) no-repeat center; background-size:cover; height:600px;">
	<div class="main6_6">
    	<p style=" padding-top:45px;padding-left:0px;width:470px;margin:0 auto;text-align:center;">No More Glare or Dark Spots with WDR  Technology
</p>
        <span style="padding-top:25px;padding-left:0px;display:block;margin:0 auto;width:490px;text-align:center;">
No need to worry about dark faces under strong or heavy light. WDR automatically adjusts lighting and offers you more balanced-processing image.
</span>
       
        
    </div>
</div>-->
<!--新增C1 big start-->
<style>
*{ margin:0; padding:0;}
img{ border:none;}
p{ font-family:Arial, Helvetica, sans-serif;}
.big-back-1{background:url(__ROOT__/Public/Home/images/goods_img/newCom01.jpg) no-repeat center; background-size:cover; height:600px; width:100%;}
.big-back-2{background:url(__ROOT__/Public/Home/images/goods_img/newCom02.jpg) no-repeat center; background-size:cover; height:600px; width:100%;}
.big-back-3{ background:url(__ROOT__/Public/Home/images/goods_img/r2/R2.jpg) no-repeat center; background-size:cover; height:600px; width:100%;}
.comWith{ width:1156px; margin:0 auto; position:relative;}
.content{ width:590px; height:170px; position:absolute; top:90px; left:30px;}
.title1{ font-size:32px; color:#e83827; line-height:50px;}
.title-bg{ position:absolute; top:-11px; left:212px;}
.title-bg-2{ position:absolute; top:-15px; left:360px;}
.title-bg-3{ position:absolute; top:-15px; left:292px;}
.txt1-1{ font-size:18px; color:#5d5d5d;}
.txt1-2{ font-size:16px; color:#626262;}
.big-back-0{background:url(__ROOT__/Public/Home/images/goods_img/newCom00.jpg) no-repeat center; background-size:cover; height:600px; width:100%;}

.color{ color:#fff;}
</style>
<div class="big">
<div class="big-back-0">
        	<div class="comWith">
            	<div class="content">
                	
                	<p class="title1">Rich Media Message Push</p>
                    <p><img class="title-bg" style="left:393px;" src="__ROOT__/Public/Home/images/goods_img/title_bg.png" alt="" /></p>
                  

                    <p class="txt1-1" style="font-family:Helvetica, sans-serif; font-size:14px;"> Alarm push notifications with real-time captured image will be directly 
sent to your mobile devices, never worry about missing something 
important. Makes it easier than ever to monitoring what you love and 
finding peace of mind.  </p><br />
                    <p class="txt1-2" style="font-size:13px;">（Please update your camera to version of 2.x.1.18 or above version before 
   using new functions）</p>
                </div>
            </div>
        </div>
		<div class="big-back-1">
        	<div class="comWith">
            	<div class="content">
                	
                	<p class="title1">Message Push</p>
                    <p><img class="title-bg" src="__ROOT__/Public/Home/images/goods_img/title_bg.png" alt="" /></p>
       

                    <p class="txt1-1"> IP camera, the electronic eye of human beings, can send you real-time alerts  <br />
            when necessary to bring you the round-the-clock peace of mind. </p><br />
                    <p class="txt1-2">Tips: Please update your camera to R2-2.x.2.5
<br />
  or above versions to use the new functions.</p>
                </div>
            </div>
        </div>
        
        <div class="big-back-2">
        	<div class="comWith">
            	<div class="content">
                	
                	<p class="title1 color" style="line-height:40px;">One-key Online Firmware
 <br />
 Upgrade via Smartphone APP</p><br />
                    <p><img class="title-bg-2 color" src="__ROOT__/Public/Home/images/goods_img/title_bg.png" alt="" /></p>
                    <p class="txt1-1 color">The easiest way to upgrade your IP camera firmware
 </p><br />
                    <p class="txt1-2 color">（Please update your camera to version of R2-2.x.2.5<br />
                     or above before using new functions）</p>
                </div>
            </div>
        </div>
        
        <div class="big-back-3">
        	<div class="comWith">
            	<div class="content">
                	
                	<p class="title1" style="color:#e83827;">Voice Setup Wizard

</p>
                    <p><img class="title-bg-3" src="__ROOT__/Public/Home/images/goods_img/title_bg.png" alt="" /></p>
                    <p class="txt1-1">With the guidance of Voice Setup Wizard,<br />
 it's easy for you to set up the IP camera correctly. </p><br />


                    <p class="txt1-2">（Please update your camera to version of R2-2.x.2.5<br />
                     or above before using new functions）</p>
                </div>
            </div>
        </div>
	</div>

<!--big stop-->
<div class="main7" style="background:none;">
	<div class="main7_7">
    <a class="goods_info_left"><img src="__ROOT__/Public/Home/images/goods_img/goods_info_left.png" width="65" /></a>
    <a class="goods_info_right"><img src="__ROOT__/Public/Home/images/goods_img/goods_info_right.png" width="65" /></a>
		<div class="main7_7_div" style="margin-top:100px;">
        	<ul>
            	<li style=" display:block"><a href="#"><img src="__ROOT__/Public/Home/images/goods_img/r2/1.jpg"</li></a></li>
                <li><a href="#"><img src="__ROOT__/Public/Home/images/goods_img/r2/2.jpg"</li></a></li>
                <li><a href="#"><img src="__ROOT__/Public/Home/images/goods_img/r2/3.jpg"</li></a></li>
                <li><a href="#"><img src="__ROOT__/Public/Home/images/goods_img/r2/4.jpg"</li></a></li>
            </ul>
			</div>
     
    </div>
</div>
<!--main完-->
</div>
<div id="techspecs" style="display:none;">
<div class="main8">
	<div class="main8_8">
    	<p>Tech Specs Table</p>
        <foreach name="tech" item="val" key="key">
        	<if condition="$key neq 'id'"><span style="width:300px;"><?php $key=str_replace('_',' ',$key); echo $key;?></span><span style="width:800px;"><if condition="$val eq '1'">√<else />{$val}</if></span><br /></if>
		</foreach>
    </div>
</div>

</div>
<!--techspecs完-->
<div id="download" style="display:none;">
<div class="main7">
	<div class="main7_7">
    	<p>Download Center</p>
        <div class="main7_7_div">
        	<div class="left">
            	<div style=" height:52px; width:294px; border:1px solid #85d7f3; background:url(images/goods_img/download.gif) 5px 5px no-repeat; ">
              		<a href="__ROOT__/download-center/user-manual/{$id}.html"><p style="color:#13a3d8; padding-top:0px; padding-left:30px;line-height:52px;font-size:20.85px;text-align:center;">Download User Manual</p></a>
                </div>
                <div style=" margin-top:30px;height:52px; width:294px; border:1px solid #85d7f3; background:url(images/goods_img/download.gif) 5px 5px no-repeat; ">
              		<a href="__ROOT__/download-center/quick-installation-guide/{$id}.html"><p style="color:#13a3d8; padding-top:0px; padding-left:30px;line-height:52px;font-size:20.85px;text-align:center;">Download Quick Guide</p></a> 
                </div>
            </div>
            <div class="right">
            	<div style=" float:right; height:52px; width:294px; border:1px solid #85d7f3; background:url(images/goods_img/download.gif) 5px 5px no-repeat; ">
              		<a href="__ROOT__/download-center/firmware-downloads/{$id}.html"><p style="color:#13a3d8; padding-top:0px; padding-left:30px;line-height:52px;font-size:20.85px;text-align:center;">Download Firmware</p> </a>
                </div>
                <div style=" float:right;  margin-top:30px;height:52px; width:294px; border:1px solid #85d7f3; background:url(images/goods_img/download.gif) 5px 5px no-repeat; ">
              		<a href="__ROOT__/download-center/software-tools/{$id}.html"><p style="color:#13a3d8; padding-top:0px; padding-left:30px;line-height:52px;font-size:20.85px;text-align:center;">Download Software</p></a> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--download完-->

<script>
$(document).ready(function(e) {
main1();//main1的文字动画
main2();//main2的文字动画	
title();//fixed位置
c1_change();//c1幻灯片
anaim();//页面切换
});
function anaim(){
	$('#Features').click(function(){
		$('#features').css('display','block');
		$('#techspecs').css('display','none');
		$('#download').css('display','none');
		})
	$('#Tech').click(function(){
		$('#techspecs').css('display','block');
		$('#features').css('display','none');
		$('#download').css('display','none');
		})
	$('#Download').click(function(){
		$('#download').css('display','block');
		$('#techspecs').css('display','none');
		$('#features').css('display','none');
		})
	}
function c1_change(){
	var length=$('.main7_7_div li').length;
	var i=0;
	$('.goods_info_left').click(function(){
		i=i-1;
		if(i<=-1){
			i=length-1;
			}
		$('.main7_7_div li').css('display','none');
		$('.main7_7_div li').eq(i).fadeIn('fast');
		})
	$('.goods_info_right').click(function(){
		i=i+1;
		if(i>=length){
			i=0;
			}
		$('.main7_7_div li').css('display','none');
		$('.main7_7_div li').eq(i).fadeIn('fast');
		})
		$('.goods_info_left').hover(function(){
			$('.goods_info_left').css('opacity','1');
			},function(){
			$('.goods_info_left').css('opacity','0.5');
				})
		$('.goods_info_right').hover(function(){
			$('.goods_info_right').css('opacity','1');
			},function(){
			$('.goods_info_right').css('opacity','0.5');
				})
	}
function title(){
	$(document).scroll(function(){
		var main2_2=100;//main1_1的高度
		var scroll_height=$(document).scrollTop();//滚动条当前的高度
		if(scroll_height>=main2_2){
		$('.name').parent().css({'animation':'title 1s','animation-fill-mode':'forwards'});
			$('.name').parent().css('display','block');
		}else{
			$('.name').parent().css('display','none');
			}
	})
}
function main1(){
	$(document).scroll(function(){
	var main1_1=$('.main1_1').offset().top;//main1_1的高度
	var scroll_height=$(document).scrollTop();//滚动条当前的高度
	var window_height=$(window).height();//当前窗口的高度，改变浏览器大小，会随着变
	if(scroll_height+window_height>=main1_1){
		$('.main1_1 p').fadeIn(3000);
		$('.main1_1 span').fadeIn(3000);
		}/*else{
			$('.name').css('display','none');
			}*/
		})
	}
function main2(){
	$(document).scroll(function(){
		//alert(1)
	var main2_2=$('.main2_2').offset().top;//main1_1的高度
	var scroll_height=$(document).scrollTop();//滚动条当前的高度
	var window_height=$(window).height();//当前窗口的高度，改变浏览器大小，会随着变
	if(scroll_height+window_height>=main2_2){
		//alert(scroll_height+window_height)
		$('.main2_2 p').fadeIn(3000);
		$('.main2_2 span').fadeIn(3000);
		}
		})
	
	}
</script>