
 <style>
 	#submenu{ display:'';}
	#submenu li{ margin:0; padding:0; height:28px;}
	#submenu li a{ color:red;}
	#menu:hover #submenu{ display:inline-block;}
 </style>
<div class="banner">
 	<a href="http://community.foscam.com/" target="_blank"><div class="banner_img"></div></a>
</div>
<!--banner完-->

<div class="main">
		<div class="main_left">
    	<ul class="ul1">
        	<p>Cooperate</p>
        	<li><a href="__ROOT__/company/why-partner-with-foscam.html">Why choose Foscam</a></li>
            <li><a href="__ROOT__/company/how-to-be-distributor.html" >How to be Distributor</a></li>
            <li><a href="__ROOT__/company/contact-as-partners.html">Contact to be Distributor</a></li>
        </ul>
        <ul class="ul1">
        	<p>Support</p>
        	<li id="menu"><a href="__ROOT__/download-center/user-manual.html">User Manual</a>
            	<ul id="Submenu">
                 
                      <li><a href="__ROOT__/Cooperate/manualCate/name/HDcameras.html">&nbsp;&nbsp;HD cameras</a></li>
                   
                      <li><a href="__ROOT__/Cooperate/manualCate/name/MJcameras.html">&nbsp;&nbsp;MJ cameras</a></li>
                    
                      <li><a href="__ROOT__/Cooperate/manualCate/name/NVR.html">&nbsp;&nbsp;NVR</a></li>
                      
                     <!-- <li><a href="__ROOT__/Cooperate/guideCate/name/CloudService.html">&nbsp;&nbsp;Cloud Service</a></li>
                      <li><a href="__ROOT__/Cooperate/guideCate/name/Clientsoftware.html">&nbsp;&nbsp;Client software</a></li>
                       <li><a href="__ROOT__/Cooperate/guideCate/name/App.html">&nbsp;&nbsp;App</a></li>
                -->
                  </ul>
            </li>
            <li id="menu"><a href="__ROOT__/download-center/quick-installation-guide.html" style="color:red;">Quick Installation Guide</a>
            	<ul id="Submenu">
                 
                      <li><a href="__ROOT__/Cooperate/guideCate/name/HDcameras.html">&nbsp;&nbsp;HD cameras</a></li>
                   
                      <li><a href="__ROOT__/Cooperate/guideCate/name/MJcameras.html">&nbsp;&nbsp;MJ cameras</a></li>
                    
                      <li><a href="__ROOT__/Cooperate/guideCate/name/NVR.html">&nbsp;&nbsp;NVR</a></li>
                      
                     <!-- <li><a href="__ROOT__/Cooperate/guideCate/name/CloudService.html">&nbsp;&nbsp;Cloud Service</a></li>
                      <li><a href="__ROOT__/Cooperate/guideCate/name/Clientsoftware.html">&nbsp;&nbsp;Client software</a></li>
                       <li><a href="__ROOT__/Cooperate/guideCate/name/App.html">&nbsp;&nbsp;App</a></li>
                -->
                  </ul>	
            
            </li>
            <li id="menu"><a href="__ROOT__/download-center/video-tutorial.html">Video Tutorial</a>
            	<ul id="Submenu">
                 
                      <li><a href="__ROOT__/Cooperate/videoCate/name/HDcameras.html">&nbsp;&nbsp;HD cameras</a></li>
                   
                      <li><a href="__ROOT__/Cooperate/videoCate/name/MJcameras.html">&nbsp;&nbsp;MJ cameras</a></li>
                    
                      <li><a href="__ROOT__/Cooperate/videoCate/name/NVR.html">&nbsp;&nbsp;NVR</a></li>
                      
                      <li><a href="__ROOT__/Cooperate/videoCate/name/CloudService.html">&nbsp;&nbsp;Cloud Service</a></li>
                      <li><a href="__ROOT__/Cooperate/videoCate/name/Clientsoftware.html">&nbsp;&nbsp;Client software</a></li>
                       <li><a href="__ROOT__/Cooperate/videoCate/name/App.html">&nbsp;&nbsp;App</a></li>
               
                  </ul>
            </li>
            <li id="menu"><a href="__ROOT__/faq.html">FAQ</a>
            	<ul id="Submenu">
                 
                      <li><a href="__ROOT__/Cooperate/faqCate/name/HDcameras.html">&nbsp;&nbsp;HD cameras</a></li>
                   
                      <li><a href="__ROOT__/Cooperate/faqCate/name/MJcameras.html">&nbsp;&nbsp;MJ cameras</a></li>
                    
                      <li><a href="__ROOT__/Cooperate/faqCate/name/NVR.html">&nbsp;&nbsp;NVR</a></li>
                      
                    <li><a href="__ROOT__/Cooperate/faqCate/name/CloudService.html">&nbsp;&nbsp;Cloud Service</a></li>
                      <li><a href="__ROOT__/Cooperate/faqCate/name/Clientsoftware.html">&nbsp;&nbsp;Client software</a></li>
                       <li><a href="__ROOT__/Cooperate/faqCate/name/App.html">&nbsp;&nbsp;App</a></li>
               
                  </ul>
            </li>
             <li><a href="__ROOT__/download-center/firmware-downloads.html">Firmware Downloads</a></li>
            <li><a href="__ROOT__/download-center/software-tools.html">Software Tools</a></li>
            <li><a href="__ROOT__/download-center/app-for-mobile-phone.html">App For Mobile Phone</a></li>
            <li><a href="__ROOT__/download-center/user-manual-for-app.html">App User Manual</a></li>
            <li><a href="__ROOT__/company/return-repair-policy.html">Return & Repair Policy</a></li>
            <li><a href="__ROOT__/call-center.html">Call Center</a></li>
        </ul>
        <ul class="ul1">
        	<p style="border-top:1px solid #BFBFBF;"><a href="__ROOT__/news.html">News</a></p>
        	<!--<li><a href="#">Company News</a></li>
            <li><a href="#">Industry News</a></li>
            <li><a href="#">News & Events</a></li>-->
        </ul>
         <ul class="ul1">
        	<p><a href="__ROOT__/company/about-us.html" >About us</a></p>
        </ul>
        <ul class="ul1">
        	<p  style="border:0px;"><a href="__ROOT__/company/contact-us.html">Contact us</a></p>
        </ul>
    </div>
    <div class="main_right">
        	<p class="title" style="color:#ff1f1f">Quick Installation Guide &gt;&gt;{$guideCate}</p>
			<form method="post" action="__ROOT__/Cooperate/guide" style="position:absolute;margin-top:-40px;margin-left:600px;">
				<input type="text" name="model">
				<input type="submit" value="Search">
			</form>
            <div id="main_right">
            <b>
            <p style="width:150px; line-height:50px">Products</p>
            <p style="width:150px;line-height:50px">Model</p>
            <p style="width:150px;line-height:50px">Version</p>
            <p style="width:150px;line-height:50px">Size</p>
            <p style="width:150px; border-right:1px solid #666;line-height:50px">Download</p></b>
          <switch name='guideCate'>
            	<case value='HDcameras'>
                	<foreach name="HDcameras" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <case value='MJcameras'>
                	<foreach name="MJcameras" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <case value='App'>
                	<foreach name="App" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <case value='NVR'>
                	<foreach name="NVR" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <case value='CloudService'>
                	<foreach name="CloudService" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <case value='Clientsoftware'>
                	<foreach name="ClientSoftware" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
                </case>
                <default />
                	 <foreach name="guide" item="val">
           					<p><img src="{$val.img_url}" height="42"/></p><p>{$val.model}</p><p>{$val.version}</p><p>{$val.size}</p><p style=" border-right:1px solid #666;"><a href="{$val.url}">download</a></p><br />
         			  </foreach>
            </switch>
           </div>
          
    </div>
    
</div>

<!--main完-->