<link href="__ROOT__/Public/Home/css/videoinfo.css" type="text/css" rel="stylesheet" />
 
	<a href="http://community.foscam.com/" target="_blank"><div class="banner_img"></div></a>
</div>
<!--banner完-->

<div class="main">
	<div class="main_left">
    	<ul class="ul1">
        	<p>Cooperate</p>
        	<li><a href="__ROOT__/company/why-partner-with-foscam.html">Why choose Foscam</a></li>
            <li><a href="__ROOT__/company/how-to-be-distributor.html" >How to be Distributor</a></li>
            <li><a href="__ROOT__/company/contact-as-partners.html">Contact to be Distributor</a></li>
        </ul>
        <ul class="ul1">
        	<p>Support</p>
        	<li><a href="__ROOT__/download-center/user-manual.html">User Manual</a></li>
            <li><a href="__ROOT__/download-center/quick-installation-guide.html">Quick Installation Guide</a></li>
            <li><a href="__ROOT__/download-center/video-tutorial.html" style="color:red;">Video Tutorial</a></li>
            <li><a href="__ROOT__/faq.html">FAQ</a></li>
             <li><a href="__ROOT__/download-center/firmware-downloads.html">Firmware Downloads</a></li>
            <li><a href="__ROOT__/download-center/software-tools.html">Software Tools</a></li>
            <li><a href="__ROOT__/download-center/app-for-mobile-phone.html">App For Mobile Phone</a></li>
            <li><a href="__ROOT__/download-center/user-manual-for-app.html">App User Manual</a></li>
            <li><a href="__ROOT__/company/return-repair-policy.html">Return & Repair Policy</a></li>
            <li><a href="__ROOT__/call-center.html">Call Center</a></li>
        </ul>
        <ul class="ul1">
        	<p style="border-top:1px solid #BFBFBF;"><a href="__ROOT__/news.html">News</a></p>
        	<!--<li><a href="#">Company News</a></li>
            <li><a href="#">Industry News</a></li>
            <li><a href="#">News & Events</a></li>-->
        </ul>
         <ul class="ul1">
        	<p><a href="__ROOT__/company/about-us.html" >About us</a></p>
        </ul>
        <ul class="ul1">
        	<p  style="border:0px;"><a href="__ROOT__/company/contact-us.html">Contact us</a></p>
        </ul>
    </div>
    <div class="main_right">
        	<p class="title" style="color:#ff1f1f">Video Tutoria</p>
            <div style=" width:784px; margin:0 auto; margin-top:80px; text-align:center;">
           		<video controls="controls" poster="" width="600p" style="margin:0 auto; display:block;">
                	<source src=""/>
                    <source src=""/>
                    <source src=""/>
                </video>
                <a style="height:100px; line-height:100px;">How to use "Foscam Viewer" App on Android phone</a>
            </div>
           
  			

    </div>
    
</div>

<!--main完-->