
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/newfaq.css" media="all" />
<style type="text/css">
h1,h3,h4,p{
font-family: "Helvetica", "Arial", sans-serif;
}
</style>
<script>
function icon_atu(src){
document.getElementById("icon_a").src=src;
}
function icon_btu(src){
document.getElementById("icon_b").src=src;
}
function icon_ctu(src){
document.getElementById("icon_c").src=src;
}
function icon_dtu(src){
document.getElementById("icon_d").src=src;
}
function icon_etu(src){
document.getElementById("icon_e").src=src;
}
</script>
<div class="faq_banner">
	<div class="faq_search">
    	<div class="faq_search_txt">
            <h3>Foscam Support</h3>
            <p>Our FAQs, support videos, and other resources will help you use Foscam products to the best advantage.</p>    
            <div class="searchinput"><input type="search" name="search" placeholder="What are you looking for?" autocomplete="off" class="hero_round_search_input ui-autocomplete-input">
                <div class="submit_faq">
                  <input type="submit" class="s_btn" id="doSearch" value="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="support_tabs tabs">
	<div class="support_tabs_nav_outer tabs-nav">
      <ul class="support_tabs_nav">
            <li><a href="#support_by_products" class="support_tabs_nav_cta tab active">FAQs</a></li>
            <li><a href="#support_by_topic" class="support_tabs_nav_cta tab">Downloads</a></li>
            <li><a href="#support_by_products" class="support_tabs_nav_cta tab">Videos</a></li>
      </ul>
    </div>
</section>
<div class="new_faq_main">
	<div class="faq_product_icon">
    	<ul>
        	<li>
            	<a href="#"><img src="__ROOT__/Public/Home/images/faq/Initial-Setup-1.png" onmouseover="icon_atu('__ROOT__/Public/Home/images/faq/Initial-Setup-2.png')" onmouseout="icon_atu('__ROOT__/Public/Home/images/faq/Initial-Setup-1.png')" id="icon_a" /></a>
                <p><a href="#">Initial Setup</a></p>
            </li>
            <li>
            	<a href="#"><img src="__ROOT__/Public/Home/images/faq/Settings-1.png" onmouseover="icon_btu('__ROOT__/Public/Home/images/faq/Settings-2.png')" onmouseout="icon_btu('__ROOT__/Public/Home/images/faq/Settings-1.png')" id="icon_b" /></a>
                <p><a href="#">Settings</a></p>
            </li>
            <li>
            	<a href="#"><img src="__ROOT__/Public/Home/images/faq/Trouble-Shooting-1.png" onmouseover="icon_ctu('__ROOT__/Public/Home/images/faq/Trouble-Shooting-2.png')" onmouseout="icon_ctu('__ROOT__/Public/Home/images/faq/Trouble-Shooting-1.png')" id="icon_c" /></a>
                <p><a href="#">Trouble Shooting</a></p>
            </li>
            <li>
            	<a href="#"><img src="__ROOT__/Public/Home/images/faq/Cloud-Service-1.png" onmouseover="icon_dtu('__ROOT__/Public/Home/images/faq/Cloud-Service-2.png')" onmouseout="icon_dtu('__ROOT__/Public/Home/images/faq/Cloud-Service-1.png')" id="icon_d" /></a>
                <p><a href="#">Cloud Service</a></p>
            </li>
            <li>
            	<a href="#"><img src="__ROOT__/Public/Home/images/faq/Product-Features-1.png" onmouseover="icon_etu('__ROOT__/Public/Home/images/faq/Product-Features-2.png')" onmouseout="icon_etu('__ROOT__/Public/Home/images/faq/Product-Features-1.png')" id="icon_e" /></a>
                <p><a href="#">Product Features</a></p>
            </li>
        </ul>
    </div>
	<div class="faq_product_class">
    	<ul>
        	<li><a href="#">HD Camera</a></li>
            <li><a href="#">Foscam APP</a></li>
            <li><a href="#">NVR/NVR Kit</a></li>
            <li><a href="#">SD Camera</a></li>
        </ul>
    </div>
	<div class="faq_featured">
    	<h3 style="width:90px; font-size:14px; font-weight:normal; height:30px;color:#FFF;background:#e83827;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;line-height:30px; padding:0 0 0 25px;">Featured</h3>
   		<ul>
        	<li>
            	<h4>How to Add camera on App Foscam</h4>
                <p>How to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to AHow to Add camera on App Foscamdd camHow to Add camera on App FoscamamHow to Add camera on </p>
            </li>
            <li>
            	<h4>Why i can’t log-in camera with WiFi after change new router/network? </h4>
                <p>How to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to AHow to Add camera on App Foscamdd camHow to Add camera on App FoscamamHow to Add camera on </p>
            </li>
            <li>
            	<h4>Why can’t I use cloud recording service after paid successfully?</h4>
                <p>How to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to Add camera on App FoscamHow to AHow to Add camera on App Foscamdd camHow to Add camera on App FoscamamHow to Add camera on </p>
            </li>
        </ul>
    </div>
	<div class="new_faq_contact"><h3>Didn't find a solution?</h3>
    	<ul>
        	<li style="width:160px;">
            	<img src="__ROOT__/Public/Home/images/faq/Live-Chat.png" />
            	<p class="new_faq_contact_title">Live Chat</p>
                <p class="new_faq_contact_desc">Chat with us online if it's urgent or tougher questions.</p>
                </li>
            <li style="width:200px;">
            	<img src="__ROOT__/Public/Home/images/faq/Call-Us.png" />
                <p class="new_faq_contact_title">Call Us</p>
            	<p class="new_faq_contact_desc">We're here to offer 24/7 support and resolve lots of common questions.</p>
            </li>
            <li style="width:280px;">
            	<img src="__ROOT__/Public/Home/images/faq/Email.png" />
                <p class="new_faq_contact_title">Email</p>
            	<p class="new_faq_contact_desc">If you don't need help right now, email us at tech@foscam.com. We'll get back to you within 18 to 24 hours.</p>
            </li>
            <li style="width:240px;">
            	<img src="__ROOT__/Public/Home/images/faq/Ask-Community.png" />
                <p class="new_faq_contact_title">Ask Community</p>
                <p class="new_faq_contact_desc">Go to Foscam Community to ask questions, find answers and make friends.</p>
            </li>
        </ul>	
    </div>
</div>

