<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FAQ</title>
<link rel="stylesheet" type="text/css" href="css/newfaq.css" media="all" />
<script>
function icon_atu(src){
document.getElementById("icon_a").src=src;
}
function icon_btu(src){
document.getElementById("icon_b").src=src;
}
function icon_ctu(src){
document.getElementById("icon_c").src=src;
}
function icon_dtu(src){
document.getElementById("icon_d").src=src;
}
function icon_etu(src){
document.getElementById("icon_e").src=src;
}
</script>
</head>

<body>
<div class="faq_banner">
	<div class="faq_search">
    	<div class="faq_search_txt">
            <h3>Foscam Support</h3>
            <p>Our FAQs, support videos, and other resources will help you use Foscam products to the best advantage.</p>    
            <div class="searchinput"><input type="search" name="search" value="What are you looking for?" autocomplete="off" class="hero_round_search_input ui-autocomplete-input" style="color:#FFF;" onFocus="if(value==defaultValue){value='';this.style.color='#FFF'}" onBlur="if(!value){value=defaultValue; this.style.color='#fff'}">
                <div class="submit">
                  <input type="submit" class="s_btn" id="doSearch" value="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="support_tabs tabs">
	<div class="support_tabs_nav_outer tabs-nav">
      <include file="Public:public_nav_download" />
    </div>
</section>
<div class="new_faq_main">
	<div class="faq_product_icon_down">
    	<ul>
        	<li>
            	<a href="#"><img src="images/Firmware_1.png" onmouseover="icon_atu('images/Firmware_2.png')" onmouseout="icon_atu('images/Firmware_1.png')" id="icon_a" /></a>
                <p><a href="#">Firmware</a></p>
            </li>
            <li>
            	<a href="#"><img src="images/App-&-Software_1.png" onmouseover="icon_btu('images/App-&-Software_2.png')" onmouseout="icon_btu('images/App-&-Software_1.png')" id="icon_b" /></a>
                <p><a href="#">App & Software</a></p>
            </li>
            <li>
            	<a href="#"><img src="images/QIG_1.png" onmouseover="icon_ctu('images/QIG_2.png')" onmouseout="icon_ctu('images/QIG_1.png')" id="icon_c" /></a>
                <p><a href="#">Quick Installtion Guide</a></p>
            </li>
            <li>
            	<a href="#"><img src="images/User-Mannual_1.png" onmouseover="icon_dtu('images/User-Mannual_2.png')" onmouseout="icon_dtu('images/User-Mannual_1.png')" id="icon_d" /></a>
                <p><a href="#">User Mannual</a></p>
            </li>

        </ul>
    </div>
    <p class="hot">Browse by product</p>
    <div class="hotPro">	
    <img class="leftPrev" src="images/preNext.png">
    <div class="proInner">
        <div class="proList">
        <input type="hidden" value="English" id="cates">
            <img src="images/hot_01.png" style="cursor: pointer;">
           <img src="images/hot_02.png" style="cursor: pointer;">
            <img src="images/hot_03.png" style="cursor: pointer;">
           <img src="images/hot_04.png" style="cursor: pointer;">
            
           <img src="images/hot_05.png" style="cursor: pointer;">
           <img src="images/hot_06.png" style="cursor: pointer;">
           <img src="images/hot_07.png" style="cursor: pointer;">
           <img src="images/hot_08.png" style="cursor: pointer;">           
        </div>
    </div>   	
     <img class="rightNext" src="images/preNext.png"> 
     
  	
</div>

	<div class="faq_new_down_product_list">
    	<ul>
    	<li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn"><a href="#">Download</a></span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1Lite.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9816P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9826P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1Lite.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9831P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1Lite.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9816P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9826P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/C1Lite.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
        	<div class="one">
            	<div class="down_product_list_img"><img src="images/FI9831P.jpg" /></div>
                <div class="down_product_list_title">
                	<div class="down_product_list_title_left">
                    	<p class="tit">Qucik Installation Guide-C1 Lite</p>
                        <p class="v">22.9M - V1.1</p>
                    </div>
                    <div class="down_product_list_title_right">
                    	<span class="firmware_download_btn">Download</span>
                    </div>
                </div>
            </div>
        </li>
        
        
        </ul>
    </div>
    
    <div style="padding:20px 0px 20px 0px; text-align:center;"><img src="images/01-2.png" /> <img src="images/02.png" /></div>
    
   
	<div class="new_faq_contact" style="margin-top:30px;"><h3>Didn't find a solution?</h3>
    	<ul>
        	<li style="width:160px;">
            	<img src="images/Live-Chat.png" />
            	<p class="new_faq_contact_title">Live Chat</p>
                <p class="new_faq_contact_desc">Chat with us online if it's urgent or tougher questions.</p>
                </li>
            <li style="width:200px;">
            	<img src="images/Call-Us.png" />
                <p class="new_faq_contact_title">Call Us</p>
            	<p class="new_faq_contact_desc">We're here to offer 24/7 support and resolve lots of common questions.</p>
            </li>
            <li style="width:280px;">
            	<img src="images/Email.png" />
                <p class="new_faq_contact_title">Email</p>
            	<p class="new_faq_contact_desc">If you don't need help right now, email us at tech@foscam.com. We'll get back to you within 18 to 24 hours.</p>
            </li>
            <li style="width:240px;">
            	<img src="images/Ask-Community.png" />
                <p class="new_faq_contact_title">Ask Community</p>
                <p class="new_faq_contact_desc">Go to Foscam Community to ask questions, find answers and make friends.</p>
            </li>
        </ul>	
    </div>
</div>
</body>
</html>
