<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FAQ</title>
<link rel="stylesheet" type="text/css" href="css/newfaq.css" media="all" />
<script>
function icon_atu(src){
document.getElementById("icon_a").src=src;
}
function icon_btu(src){
document.getElementById("icon_b").src=src;
}
function icon_ctu(src){
document.getElementById("icon_c").src=src;
}
function icon_dtu(src){
document.getElementById("icon_d").src=src;
}
function icon_etu(src){
document.getElementById("icon_e").src=src;
}
</script>
</head>

<body>
<div class="faq_banner">
	<div class="faq_search">
    	<div class="faq_search_txt">
            <h3>Foscam Support</h3>
            <p>Our FAQs, support videos, and other resources will help you use Foscam products to the best advantage.</p>    
            <div class="searchinput"><input type="search" name="search" value="What are you looking for?" autocomplete="off" class="hero_round_search_input ui-autocomplete-input" style="color:#FFF;" onFocus="if(value==defaultValue){value='';this.style.color='#FFF'}" onBlur="if(!value){value=defaultValue; this.style.color='#fff'}">
                <div class="submit">
                  <input type="submit" class="s_btn" id="doSearch" value="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="support_tabs tabs">
	<div class="support_tabs_nav_outer tabs-nav">
      <include file="Public:public_nav_download" />
    </div>
</section>
<div class="new_faq_main">
	
    <div class="new_faq_nav"><a href="/">Home</a> > <a href="#">Support</a> > <a href="#">FAQs</a> > <a href="#">Settings</a> > <a href="#">HD Camera</a><span class="nva_right_link" style="float:right; color:#F00; font-weight:bold;"><a href="#">How to confirm the version of your camera?</a></span></div>
    
  <div class="download_list">
    	<div class="download_list_icon"><span style="width:140px; font-size:16px; font-weight:normal; height:30px;color:#FFF;background:#e83827;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;line-height:30px; padding:8px 20px 8px 20px;">FI9900P V3</span></div>
    <style>
		.down_table{color:#676767;}
		.down_table tr{line-height:25px;}
        .down_table th,td {border-bottom: 1px solid #ddd;} 
		.down_table_head td{border-bottom: 2px solid #F00;} 
        </style>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="down_table">
        <tr class="down_table_head" style="height:40px; color:#F00; font-weight:bold;">
          <td width="13%">Version</td>
          <td width="14%">Build Date</td>
          <td width="14%">Size</td>
          <td width="38%">Release Note</td>
          <td width="10%">Attention</td>
          <td width="11%">Download</td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left; padding:10px 0px 10px 0px;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
      </table>

    </div>
    
    <div class="download_list">
    	<div class="download_list_icon"><span style="width:140px; font-size:16px; font-weight:normal; height:30px;color:#FFF;background:#e83827;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;line-height:30px; padding:8px 20px 8px 20px;">FI9900P V2</span></div>
    <style>
		.down_table{color:#676767;}
		.down_table tr{line-height:25px;}
        .down_table th,td {border-bottom: 1px solid #ddd;} 
		.down_table_head td{border-bottom: 2px solid #F00;} 
        </style>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="down_table">
        <tr class="down_table_head" style="height:40px; color:#F00; font-weight:bold;">
          <td width="13%">Version</td>
          <td width="14%">Build Date</td>
          <td width="14%">Size</td>
          <td width="38%">Release Note</td>
          <td width="10%">Attention</td>
          <td width="11%">Download</td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left; padding:10px 0px 10px 0px;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
      </table>

    </div>
    
    <div class="download_list">
    	<div class="download_list_icon"><span style="width:140px; font-size:16px; font-weight:normal; height:30px;color:#FFF;background:#e83827;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;line-height:30px; padding:8px 20px 8px 20px;">FI9900P V1</span></div>
    <style>
		.down_table{color:#676767;}
		.down_table tr{line-height:25px;}
        .down_table th,td {border-bottom: 1px solid #ddd;} 
		.down_table_head td{border-bottom: 2px solid #F00;} 
        </style>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="down_table">
        <tr class="down_table_head" style="height:40px; color:#F00; font-weight:bold;">
          <td width="13%">Version</td>
          <td width="14%">Build Date</td>
          <td width="14%">Size</td>
          <td width="38%">Release Note</td>
          <td width="10%">Attention</td>
          <td width="11%">Download</td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left; padding:10px 0px 10px 0px;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
        <tr>
          <td>0.0.0.47</td>
          <td>2016/02/03</td>
          <td>2.65M</td>
          <td style="text-align:left;">-1/4/9 Split Screen;<br />
-Add wireless channel selection<br />
Funtion(only support FN3014W-wireless NVR Kits);<br />
-Fixed Some Bugs<br /></td>
          <td>Only For....</td>
          <td style="padding-left:20px;"><a href="#"><img src="images/D.png" /></a></td>
        </tr>
      </table>

    </div>


	<div class="new_faq_contact"><h3>Didn't find a solution?</h3>
    	<ul>
        	<li style="width:160px;">
            	<img src="images/Live-Chat.png" />
            	<p class="new_faq_contact_title">Live Chat</p>
                <p class="new_faq_contact_desc">Chat with us online if it's urgent or tougher questions.</p>
                </li>
            <li style="width:200px;">
            	<img src="images/Call-Us.png" />
                <p class="new_faq_contact_title">Call Us</p>
            	<p class="new_faq_contact_desc">We're here to offer 24/7 support and resolve lots of common questions.</p>
            </li>
            <li style="width:280px;">
            	<img src="images/Email.png" />
                <p class="new_faq_contact_title">Email</p>
            	<p class="new_faq_contact_desc">If you don't need help right now, email us at tech@foscam.com. We'll get back to you within 18 to 24 hours.</p>
            </li>
            <li style="width:240px;">
            	<img src="images/Ask-Community.png" />
                <p class="new_faq_contact_title">Ask Community</p>
                <p class="new_faq_contact_desc">Go to Foscam Community to ask questions, find answers and make friends.</p>
            </li>
        </ul>	
    </div>
</div>
</body>
</html>
